body {
    font-family: 'Fira Code', monospace;
    background: linear-gradient(360deg, #049DD9 10in, #F277BB,#FFFFFF 20in);
    width: 100%;
    height: 100%;
}

.cabecalho {
    background: linear-gradient(#f277bb, #04c4d9);
    width: 100%;
    margin: 0 auto;
    box-shadow: #f277bb 0px 14px 25px, #04c4d9 0px 14px 28px;
    height: 100%;
}

.logo {
    width: 20%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 0 10%;
}

.first-title {
    font-size: 500%;
    font-weight: bold;
    color: #012840;
    padding: 6% 0 0 15%;
}

.main-menu {
    background: #f3f3f3;
    padding: 2%;
    text-align: center;
    clear: left;
}

.navigation {
    display: inline;
    margin: 0 20px;
    font-size: 120%;
    text-transform: uppercase;
}

.link, .dio {
    color: #012840;
    text-decoration: none;
    transition: all 0.5s;
}

.link:hover {
    color: #049DD9;
    text-decoration: underline;
}

.link:active {
    color: #F22EBE;
}

.link:visited {
    color: #F277BB;
}

.hide{
    visibility: hidden;
}

.inicio {
    margin: 10%;
    background:#F277BB;
    border: 1px solid #012840;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.minha-foto {
    width: 200px;
    float: right;
    margin: 0 80px 20px 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    box-sizing: border-box;
}

.content {
    margin: 50px 60px 80px;
    text-align:left;
    text-indent: 4%;
    box-sizing: border-box;
}

.title {
    font-size: 190%;
    text-shadow: black 2px 3px 4px;
    box-sizing: border-box;
}

.title::before {
    content:"<";
}

.title::after {
    content:">";
}

.paragraphs {
    font-family: 'Open Sans', sans-serif;
    margin: 30px 40px 20px 20px;
    font-size: 22px;
}

.paragraph {
    margin: 27px 0 0 0;;
}

.paragraph1:first-letter {
    font-size: 25px;
    font-weight: bolder;
    color: #012840;
    font-family: 'Fira Code', monospace;
}

.italic {
    font-style: italic;
}

.highlight {
    color:#012840;
    text-shadow: #F22EBE 1px 2px 2px;
    background: none;
}

.trybe, .alura, .anhembi{
    text-decoration: none;
    transition: all 0.5s;
}

.trybe {
    color: #2ec18b;
    text-decoration: none;
    transition: all 0.5s;
}

.trybe::before {
    background-image: url("https://pbs.twimg.com/profile_images/1412038025098444800/Kx6Wj0hl_400x400.jpg" );
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}

.alura {
    color: #051932;
}

.alura::before {
    background-image: url("imagens/download.jpg" );
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}

.anhembi {
    color: #00786c;
}

.anhembi::before {
    background-image: url("imagens/download.png" );
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
}

.trybe:hover, .alura:hover, .anhembi:hover, .dio:hover {
    color: white;
    text-decoration: underline;
}

.portfolio {
    clear: right;
    margin: 10%;
}

.portfolio > h2, .habilidades{
    text-align: center;
}

.projects{
    margin: 10% 0 5% 0;
}

.videos {
    width: 50%;
}

.habilities {
    margin: 10% auto;
    position: relative;
}

.second-title {
    position: relative;
    font-size: 145%;
    margin: 5% 30% 5% 20%;
    border: 1px solid black;
    border-radius: 40px;
    height: 100%;
}

.skills > h3 {
    padding: 10px 15px 10px 5%;
}

.skills2 > h3 {
    padding: 10px 15px 10px 5%;
}

.habilities > h2 {
    box-sizing: border-box;
    text-align: center;
}

ol {
    display: inline-block;
    width: 45%;
    margin: 0 0 0 30%;
    font-size: 130%;
    line-height: 30px;
}

.soft-skills::before, .hard-skills::before {
    content: "\2605  "
}

footer {
    background: black;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-top: 10px;
}

.nav-title {
    font-size: 13px;
    font-weight: bold;
    padding: 0 1px 10px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 7% auto 0 auto;
    justify-items: start;
    align-items: start;
    vertical-align: text-top;
}

.logo2 {
    width: 15%;
    float: left;
    margin: 15px 0 0 15px;
}

.left-box {
    margin-left: 10px;
}

a.link2:hover {
    color: white;
    text-decoration: underline;
}
.section-footer {
    font-size: 90%;
    color: white;
    padding: 0 0 0 5px;
}
.copyright {
    background: black;
    text-align: center;
    color: white;
    padding: 10px;
    clear: left;
}

