body {
    font-family: 'Fira Code', monospace;
}

.cabecalho {
    background: linear-gradient(#f277bb, #04c4d9);
    width: 100%;
    margin: 0 auto;
    box-shadow: #f277bb 0px 14px 25px, #04c4d9 0px 14px 28px;
}

.logo {
    width: 250px;
    float: left;
}

.first-title {
    font-size: 50px;
    font-weight: bold;
    color: #012840;
    padding: 9% 0 0 15%;
}

.main-menu {
    background: #f3f3f3;
    padding: 20px;
    text-align: center;
    clear: left;
    /* font-family: 'Open Sans', sans-serif; */
}

.navigation {
    display: inline;
    margin: 0 30px;
    font-size: 1.3em;
}

.link {
    color: #012840;
    text-decoration: none;
    transition: all 0.5s;
}

.link:hover {
    color: #049DD9;
    text-decoration: underline;
}

.link:active {
    color: #F22EBE;
}

.link:visited {
    color: #F277BB;
}

.minha-foto {
    width: 200px;
}